html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bevan', cursive;
  line-height: 1.5;
  color: #fff;
  padding: .6em .5em .75em;
  background-color: #595652;
  margin: .3em;
}

ul {
  padding: .6em;
  background-color: #713837;

}
