html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: .1em;
  display: inline-block;
}

h1 {
  font-family: "Bevan", sans-serif;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  color: #fff;
}

div {
  background-color: #79756f;
  margin: auto;
  padding: .6em;
  border-style: solid;
  border-color: #595652;
  position: absolute;
}

nav {
  font-family: "Bevan", sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  border-width: inherit;
  border-color: #595652;
}

nav a:hover {
  color: #f33;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  color: #fff;
}

.intro {
  display: inline-block;
  list-style-type: none;
  color: #fff;
  margin: .3em;
  background-color: #713837;
  padding: .3em;
  border-radius: .3em;
}

.planets {
  display: inline-block;
  list-style-type: none;
  color: #fff;
  margin: .3em;
  background-color: #713837;
  padding: .3em;
  border-radius: .3em;
}

.mars {
  display: inline-block;
  list-style-type: none;
  color: #fff;
  margin: .3em;
  background-color: #713837;
  padding: .3em;
  border-radius: .3em;
}

.venus {
  display: inline-block;
  list-style-type: none;
  color: #fff;
  margin: .3em;
  background-color: #713837;
  padding: .3em;
  border-radius: .3em;
}
